body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   
   
       
    
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*{
    font-family: century gothic !important;
}

.bg-light {
    background: white !important;
}
.nav-item a{
    color : #555 !important; 
    font-size: 16px;
    font-weight: bold;
}

.nav-item a:hover{
    border-bottom: 2px solid #555;
    
}
.navbar{
    padding: 20px 0px 40px 0px;
}
#brand a{
    font-weight: bold;
    font-size: 50px !important;
    letter-spacing: -5px;
}

#compSmall{
    padding-top: 0px;
}
@media (max-width : 768px){
    #compSmall{
        padding-top: 50px;
    }
}

#appSmall{
    padding-bottom: 0px;
    
}
@media (max-width : 768px){
    #appSmall{
        padding-bottom: 50px;
    }
}

.app-footer{
    margin-top: 100px;
    color : #555 ;
    background: #f1f1f1;
    padding : 0px 100px;
    padding : 50px;
   
}

.app-footer p{
    padding : 0;
    margin : 0;
}